@import "tailwindcss";
@import "@fontsource/anton";
@import "@fontsource-variable/inter/wght.css";

:root {
  --primary: #e62429;
  --secondary: #1da1d2;
  --tertiary: #007fb0;
  --neutral: #0a0a0a;

  --font-title: "Anton", system-ui;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-title);
  }
}
