@import "tailwindcss";
@import "@fontsource/anton";
@import "@fontsource-variable/inter/wght.css";

:root {
  --color-primary: #e62429;
  --color-secondary: #1da1d2;
  --color-tertiary: #007fb0;
  --color-neutral: #0a0a0a;
  --color-text: #e7bdb8;
  --color-a-secondary: #1d1d1d;
}

@theme {
  --font-anton: "Anton", system-ui;
  --font-inter: "Inter Variable", system-ui;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-anton);
    text-transform: uppercase;
  }
}
